@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700;1,400&display=swap");

:root {
  --maingreen: #008056;
  --darkgreen: #01573a;
  --pink: #f7acaa;
  --yellow: #f4e8a5;
  --cream: #f2f0e7;
  --white: #ecf2f2;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.green-button {
  background-color: var(--maingreen);
  color: var(--white);
  border-radius: 10px;
  border-color: var(--cream);
  border-style: solid;
  padding: 10px 20px;
}

.green-button:hover {
  background-color: var(--cream);
  color: var(--maingreen);
}

li {
  margin-left: 30px;
}

.promotion-header {
  display: flex;
  width: 100%;
  background-color: var(--maingreen);
  color: var(--white);
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 15px;
}

.btn-white-border:link,
.btn-white-border:visited {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-white-border:hover {
  color: var(--black);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.nav-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.carousel-indicators {
  list-style: none;
}

.btn-lg {
  background-color: var(--maingreen);
  border: none;
  color: var(--white);
}

.btn-lg:hover,
.btn-lg:active {
  background-color: var(--darkgreen);
  color: var(--white);
}

.btn-icon {
  background-color: none;
  border: none;
  color: var(--black);
}

/* NEW */

.new {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

.new_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1920px;
  width: 100%;
}

.title_new {
  color: var(--maingreen);
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.title_new span {
  display: block;
  font-weight: bold;
}

.info_new_container {
  padding-left: 11%;
  padding-right: 12%;
}

.products-container {
  padding-left: 11%;
  padding-right: 12%;
}

.product {
  padding-left: 12px;
  padding-right: 12px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--black);
}

.swal2-confirm {
  background-color: var(--maingreen) !important;
  border: none !important;
  color: var(--white) !important;
  box-shadow: none !important;
}
